In [1]:
from mtgsdk import Card
from mtgsdk import Set
from mtgsdk import Type

In [2]:
cards = Card.where(gameFormat='standard').where(types='creature').all()

In [8]:
len(cards)

1780

In [110]:
import pandas as pd
card_df = pd.DataFrame(columns=['name', 'artist', 'cmc', 'color', 'set', 
                                'rarity', 'power', 'toughness'])
for i in range(len(cards)):
    crd   = cards[i]
    name  = crd.name if crd.name else 'NA'
    art   = crd.artist if crd.artist else 'NA'
    cmc   = crd.cmc if crd.cmc else 'Free'
    color = ','.join(crd.color_identity) if crd.color_identity else 'Colorless'
    set_  = crd.set_name if crd.set_name else 'NA'
    rare  = crd.rarity if crd.rarity else 'NA'
    power = crd.power if crd.power else 'NA'
    tough = crd.toughness if crd.toughness else 'NA'
    
    card_df.loc[i] = [name, art, cmc, color, set_, rare, power, tough]

In [111]:
card_df.head()

,name,artist,cmc,color,set,rarity,power,toughness
0,Air Elemental,Kev Walker,5,U,Tenth Edition,Uncommon,4,4
1,Air Elemental,Kev Walker,5,U,Tenth Edition,Uncommon,4,4
2,Canopy Spider,Christopher Rush,2,G,Tenth Edition,Common,1,3
3,Canopy Spider,Christopher Rush,2,G,Tenth Edition,Common,1,3
4,Gravedigger,Dermot Power,4,B,Tenth Edition,Common,2,2

In [112]:
card_df = card_df[~card_df.duplicated(subset='name',keep='last')]
card_df.reset_index(drop=True, inplace=True)

In [114]:
card_df.to_csv('cards/creatures.csv', index=False)

In [93]:
instants = Card.where(gameFormat='standard').where(types='instant').all()
spells = Card.where(gameFormat='standard').where(types='sorcery').all()
enchants = Card.where(gameFormat='standard').where(types='enchantment').all()

In [102]:
instants.extend(spells).extend(enchants)

In [103]:
len(instants)

1592

In [106]:
spell_df = pd.DataFrame(columns=['name', 'artist', 'cmc', 'color', 'set', 'rarity'])

for i in range(len(instants)):
    crd   = instants[i]
    name  = crd.name if crd.name else 'NA'
    art   = crd.artist if crd.artist else 'NA'
    cmc   = crd.cmc if crd.cmc else 'Free'
    color = ','.join(crd.color_identity) if crd.color_identity else 'Colorless'
    set_  = crd.set_name if crd.set_name else 'NA'
    rare  = crd.rarity if crd.rarity else 'NA'
    
    spell_df.loc[i] = [name, art, cmc, color, set_, rare]

In [117]:
spell_df = spell_df[~spell_df.duplicated(subset='name',keep='last')]
spell_df.reset_index(drop=True, inplace=True)

In [118]:
spell_df.to_csv('cards/spells.csv', index=False)